/* Your styles here */
html {
  background-color: #e9edee;
}

article,
.PreTitolo,
.BordoGrosso {
  margin-left: 1rem;
  margin-right: 1rem;
}

header,
main {
  font-family: Arial, Helvetica, sans-serif;
}

.LogoAlto {
  width: 100%;
  max-width: 100%;
  height: 20px;
  background-color: #222f3f;
  padding: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
}

.LogoAlto img {
  height: 1.5rem;
  margin-left: 1rem;
}

header p {
  display: inline;
  color: white;
  margin-left: 1rem;
}

header {
  background-color: #364757;
  height: 20px;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.PreTitolo {
  color: #ffe7d3;
  background-color: #f56600;
  text-align: center;
  font-size: 9px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 20px;
}

.PreTitolo p {
  padding-top: 5px;
}

h1,
h2,
h4 {
  text-align: center;
}

.BordoGrosso {
  background-image: url(/assets/images/bg-image.png);
  color: white;
  padding: 4px;
  background-size: contain;
  padding-bottom: 2rem;
}

h1 {
  font-size: 30px;
  margin-top: 3rem;
}

h2 {
  font-size: 15px;
  margin-bottom: 2rem;
}

h4 {
  font-size: 12px;
}

section.primo {
  display: inline-block;

  background-color: white;
  margin-top: 1rem;
  width: 100%;
}

h3,
a {
  margin: 1rem;
}

a {
  color: #0e5865;
  text-decoration: none;
}

section.primo img {
  width: 350px;
  height: 380px;
  margin: 1.5rem;
  border-radius: 5%;
  box-shadow: 1px 1px 13px rgb(0 0 0 / 0.3);
  object-fit: cover;
}

section.secondo img {
  height: auto;
  width: 100%;
  margin-bottom: -1rem;
}

section.terzo img {
  height: auto;
  width: 100%;
  margin-bottom: -1rem;
}

section {
  margin-top: 10px;
}

footer p {
  text-align: center;
  background-color: #364757;
  color: white;
  padding: 5px;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer img {
  background-color: #222f3f;
  width: 10%;
  padding: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
}

footer {
  text-align: center;
  background-color: #222f3f;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -1rem;
}
